.row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
.sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

.weather-card{
      width: 10rem;
      background-color: #1169b6;
      color: white;
      text-align: center;
    }

    .jumbotron {
      padding: 2rem;
      border-radius: 0;
  }

    #search-city{
      width:80%;
  }

  #clear-storage{
    color:grey;
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}  

.uv-favorable{
      background-color: green;
      border-radius: 5px;
      color: white;
  }
  
.uv-moderate{
      background-color: yellow;
      border-radius: 5px;
      color: white;
  }
  
.uv-severe{
      background-color: red;
      border-radius: 5px;
      color: white;
  }
    /* Set black background color, white text and some padding */
footer {
      background-color: #grey;
      color: white;
      padding: 15px;
    }

#header{
      background-size: cover;
      background-position-y: 40%;
      color:white;
      background-color:rgb(83, 83, 83);
      position:relative !important;
  }
    
#header h1{
      font-size: 400%;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  }

#clear-storage{
      color:grey;
      text-decoration: none;
      font-size:.75em;
      margin: .5em 0em 0em .5em;
    } 
#search-error {
    width: 90%;
    }

#current-weather{
  padding-left:25px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
     #search-button{
      width:100%;
      }

      #search-city{
        width:100%;
      } 
      
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    @media only screen and (max-width: 600px) {

      #fiveDayForecast{
          justify-content: center;
      }
  }